form{
  width: 600px;
  padding: 20px;
  margin: 10px;
  border-bottom: 2px solid white ;
}

input{
  padding: 5px 10px;
  margin-right: 20px;
}

button{
  padding: 5px 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}